nav {
  height: 100px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

nav>* {
  border: 1px solid gray;
  height: 50px;
  flex: 1 0 300px;
}

nav>.leftmenu {
  flex-grow: 2;
}

nav>.center {
  flex-grow: 1;
  align-self: stretch;
  height: 100%;

  /* flex 로고 중앙 배치 */
  /* display:flex;
  justify-content: center;
  align-items: center; */

  /* position 로고 중앙배치 */
  position: relative;
}

nav img {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

nav>.rightmenu {
  flex-grow: 2;
}

/* mediaQuery 적용 위한 추가 CSS */
nav.leftmenu,
.rightmenu {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .rightmenu {
  justify-content: space-around
}

nav span {
  font-size: 2rem;
}

nav>.leftmenu>.search>input {
  width: 100px;
  height: 35px;
  outline: none;
  padding-left: 35px;
  font-size: 18px;
}

nav>.leftmenu>.search {
  position: relative;
  /* border: 1px solid gray; */
  width: 150px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

nav>.leftmenu>.search>i {
  position: absolute;
  left: 0px;
  top: 7px;
  bottom: 0px;
  margin: auto;
  color: gray;
}

nav .rightmenu>div:nth-child(1) {
  flex-grow: 2;
  text-align: center;
}

nav .rightmenu>div:nth-child(2) {
  flex-grow: 0;
}

/* MediaQuery 적용 */
@media all and(max-width:1024px) {
  nav span {
    display: none;
  }
}

@media all and(max-width:768px) {
  nav .leftmenu>.search {
    display: none;
  }

  nav .rightmenu {
    display: none;
  }
  nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
nav .leftmenu{
  display: flex;
  justify-content: right;
}