section>.sticky-banner{
  width: 95px;
  height: 152px;
  border: 20px solid gray;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: bisque;
  box-shadow: 3px 3px 3px lightgray;

  position: fixed;
  left: 0px; top: 25%;
  z-index: 3;

  
}

select>.sticky-banner>*{
  margin: 4px;
}

section>.sticky-banner>.stkban-top{}

section>.sticky-banner>.stkban-top>img{}

section>.sticky-banner>a{}

@keyframes bgdown{
  from{}
  to{opacity: 0;}
}
@keyframes bgup{
  from{}
  to{opacity: 1;}
}