

nav {
  height: 60px;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: red;
}

nav>* {
  /* border : 1px solid gray; */
  height: 50px;
  flex: 1 0 170px;
}

nav>.swiper {
  flex-grow: 0.4;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  height : 50px;
  /* border: 10px solid black; */
}

nav>.rightmenu {
  flex-grow: 0.4;
}


/* MediaQuery 적용 위한 추가 CSS */
nav>.swiper-wrapper>span{
  font-size: 1.5rem;
}

nav .swiper,
.rightmenu {
  font-size: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .rightmenu{
  justify-content: space-between;
}

nav .rightmenu>div:nth-child(1) {
  flex-grow: 2;
  text-align: center;
}

nav .rightmenu>div:nth-child(2) {
  flex-grow: 0;
}
nav .rightmenu>div:nth-child(3) {
  flex-grow: 0;
  text-align: right;
  height: 60px;
  width: 200px;
  background-color: black;
  
  /* border: 5px solid black; */
}
nav .rightmenu .money{
  color: white;
}
nav>.navheader>.inner>.gnb-top>.header-banner>.swiper{
  height : 40px;
}
nav>.navheader>.inner>.gnb-top>.header-banner>.swiper>.swiper-wrapper{}
nav>.navheader>.inner>.gnb-top>.header-banner>.swiper>.swiper-wrapper>.swiper-slide{
  display:flex;
  justify-content: left;
  align-items: center;
  position:relative;
}
nav>.navheader>.inner>.gnb-top>.header-banner>.swiper>.swiper-wrapper>.swiper-slide img{
  height: 60px;
  width: 60px;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
nav>.navheader>.inner>.gnb-top>.header-banner>.swiper>.swiper-wrapper>.swiper-slide span{
  font-size: 2rem;
  padding-left:5px;
  /* border: 1px solid black; */
}


